.item-detail-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
    border-radius: 4px;
    border-style: double;
    border-color: #6fa6a6;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item-detail-container img{
    width: 50%;
    margin:auto;
    min-width: 450px;
}
.item-detail-container > div{
    text-align: center;
    width: 50%;
    margin:auto;
    line-height: 50px;
}
.itemDetail .toCartButton{
    background-color: #6fa6a6;

}
.toCartButton > a{
    color:white;
    text-decoration: none;
}
@media screen and (max-width:768px) {
    .item-detail-container img{
        width: 100%;
        margin:auto;
        min-width: 200px;
    }
    .item-detail-container > div{
        line-height: 25px;
    }
}