.emptyCart{
    text-align: center;
    margin: 0 10px 10px;
}
.emptyCart > a{
    color: #6fa6a6;
}
.cart-content > a{
    color: #6fa6a6;
}
.cart-content{
    text-align: center;
}
.cart-box h2{
    text-align: center;
    font-size: 18px;
    color: #f2a0a0;
    text-decoration: underline;
}
.cartItem{
    border-bottom: 1px solid #6fa6a6;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    align-items: center;
}
.cartItem img{
    width: 100px;
    margin-right: 20px;
}
.cartItem div{
    line-height: 25px;
    margin-right: 20px;
    width: 180px;
}
.cartItem h3, h4{
    margin:0;
}
.cartItem h3{
    color: #6fa6a6;
    font-size: 16px;
}
.cartItem h4{
    color: #f2a0a0;
    font-size: 14px;
    font-weight: 500;
}

.cartIcon{
    color: #F2A0A0 ;
    position:relative;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #B4D9D5;
}
.cartCount p{
    position:absolute;
    top: 28%;
    right: 1%;
    font-weight: 700;
    font-size: 15px;
    color:rgb(69, 69, 69);
}
@media (max-width: 900px){
    .cartCount p {
        top: 16%;
        right: 2.7%;
    }
}