
.cardList-container{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: #F2D8D8;
    margin: 2% auto;
    padding: 2%;
    width: 90%;
}
.mySwiper{
    padding: 10px;
}
.swiper-button-prev, .swiper-button-next{
    color: #6fa6a6;
}
.swiper-pagination-bullet-active{
    background-color: #6fa6a6;
}