.footer-container{
    background-color: #F2A0A0;
}
.footer-container > div{
    margin: 12px 0 0;
}
.footer-copyright{
    border-top: solid 2px #6FA6A6;
    padding: 12px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.footer-content > div{
    display: flex;
    flex-direction: column;
    line-height: 26px;
    margin: 12px 0;
}
.footer-container h3{
    margin: 0%;
    text-decoration: underline;
}    
.footer-content a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    
}