.toCartButton{
    width: 100%;
}
.countBox{
    margin: 2% auto;
    display:flex;
    justify-content: center;
    border: 1px solid #6fa6a6;
    border-radius: 4px;
    max-width: 150px;
}
.countBox > span{
    width: 50px;
    height: 36.5px;
    line-height: 36.5px;
}
.countBox > button{
    margin: 0% 2%;
    width: 50px;
}
.toCartButton > button{
    background-color: #6fa6a6;
}